/* Ícones Bootstrap*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");
/* Para consultar a lista de ícones, acesse: https://icons.getbootstrap.com/ */

.login{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #0f43ee, #52aefa);
}

.fundo-laranja-claro{
  background-color: #71a8e6;
}

.fundo-laranja-escuro{
  background-color: #05599e;
}

.laranja-escuro{
  color: #021f7c;
}

.laranja-claro{
  color: #5c85c2;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}